<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>angularjs-exercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div ng-app="calculatorApp">
      <div ng-controller="CalculatorController" class="calc-container">
        <label for="currentOutputState">{{currentOperation}}</label>
        <input class="calc-output" ng-value="currentOutputState" name="currentOutputState" readonly/>
        <div style="margin-left: 25px">
          <calculator-button value="valueButton1"></calculator-button>
          <calculator-button value="valueButton2"></calculator-button>
          <calculator-button value="valueButton3"></calculator-button>
          <br/>
          <calculator-button value="valueButton4"></calculator-button>
          <calculator-button value="valueButton5"></calculator-button>
          <calculator-button value="valueButton6"></calculator-button>
          <br/>
          <calculator-button value="valueButton7"></calculator-button>
          <calculator-button value="valueButton8"></calculator-button>
          <calculator-button value="valueButton9"></calculator-button>
          <br/>
          <calculator-button value="valueButton0"></calculator-button>
          <calculator-button value="valueButtonEq"></calculator-button>
          <calculator-button value="valueButtonMin"></calculator-button>
          <br/>
          <calculator-button value="valueButtonPlus"></calculator-button>
          <calculator-button value="valueButtonMulti"></calculator-button>
          <calculator-button value="valueButtonDiv"></calculator-button>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="node_modules\angular\angular.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
  </body>
</html>